* {
  --black: #2d2d2d;
  --grey: #777c85;
  --red: #f2777a;
  --blue: #6ab0f3;
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

html {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--grey);
  background-color: #ccf6c8;
  font-size: .75rem;
  width: 595px;
  height: 842px;
}

.container {
  width: 595px;
  height: 842px;
  /* margin: 2rem auto; */
  margin: 0;
  padding: 1rem .5rem;
  background-color: #ffffee;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

header,
main {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.left,
.right {
  flex: 1;
  padding-right: 2rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--black);
}

h2 {
  text-transform: uppercase;
  color: var(--black);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.3rem;
}

p {
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  color: var(--grey);
}

.social-links li {
  display: inline;
}
.link {
  color: var(--blue);
}

.bold {
  font-weight: 700;
}

button {
  background-color: transparent;
  color: var(--grey);
  border: 1px solid var(--grey);
}
